---
layout: layouts/base.njk
permalink: /posts/
templateClass: tmpl-post
eleventyNavigation:
  key: Archive
  order: 2
---

<h2 class="block sm:inline-block text-3xl font-bold sm:font-semibold mb-8">Archive</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
