<ul>
  {% for post in postslist | reverse %}
    <li class="
      pb-10
      {% if post.url == url %} postlist-item-active{% endif %}">

      <div class="mb-3 flex flex-col sm:block sm:flex-row">
        {% first_image post %}
        <h2 class="block sm:inline-block text-3xl font-semibold">
          <a href="{{ post.url | url }}" class="postlist-link">
            {% if post.data.title %}{{ post.data.title }}
            {% else %}
              <code>{{ post.url }}</code>
            {% endif %}
          </a>
        </h2>
        <time class="pl-1 italic" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </div>

      <p
        class="mb-3"
      >{{ post.data.page.excerpt  }}</p>

      <div>
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" 
            class="rounded-full py-2 px-2 bg-gray-500 text-white text-xs">{{ tag }}</a>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>