<ul>
  {% for post in postslist | reverse %}
    <li class="
      pb-10
      {% if post.url == url %} postlist-item-active{% endif %}">

      <div class="mb-3 flex flex-col sm:block sm:flex-row">

        {%- if post.data.featuredImage %}
          <a href="{{ post.url | url }}">
            {% image post.data.featuredImage, post.data.featuredImageAlt, post.data.featuredImageSize %}
          </a>
        {% endif %}

        <h2 class="block sm:inline-block text-3xl font-semibold">
          <a href="{{ post.url | url }}" class="postlist-link">
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              <code>{{ post.url }}</code>
            {% endif %}
          </a>
        </h2>
        <time class="pl-1 italic" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        
        {%- if post.data.subtitle %}
        <h3 class="font-light text-xl">
          {{ post.data.subtitle }}
        </h3>
        {% endif %}

      </div>

      <p>{{ post.data.page.excerpt  }}</p>

      <div class="mt-3">
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" 
            class="underline-dotted mr-1 text-gray-700 text-xs">{{ tag }}</a>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>