---
layout: layouts/base.njk
templateClass: tmpl-post
permalink: "{{ title | slug }}/"
---

<h2 class="block sm:inline-block text-3xl font-bold sm:font-semibold"
>{{ title }}</h2>

<time class="pl-1 italic" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

{%- if subtitle %}
<h3 class="font-light text-xl">
  {{ subtitle }}
</h3>
{% endif %}

<div class="mb-6">
  {% for tag in tags | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}"
      class="underline-dotted mr-1 text-gray-700 text-xs">{{ tag }}</a>
  {% endfor %}
</div>

{%- if featuredImage %}
{% image featuredImage, featuredImageAlt, featuredImageSize %}
{% endif %}

<div class="post-content mt-10">{{ content | safe }}</div>

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
