@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-3
  }
}

@media (max-width: 640px) {
  .tmpl-home #mainHeaderSection {
    @apply pb-2 mb-4;
    min-height: 10rem;
  }
  .tmpl-home #mainHeaderTitle {
    @apply font-bold text-3xl mt-16;
    font-size: 2rem;
  }
  .tmpl-home #mainHeaderSubTitle {
    @apply block text-2xl font-light text-shadow-md;
  }
}

@media (min-width: 640px) {
  .tmpl-home #mainHeaderSection {
    @apply pb-8 mb-8;
    min-height: 18rem;
  }
  .tmpl-home #mainHeaderTitle {
    @apply font-bold mt-32;
    font-size: 2.75rem;
  }
  .tmpl-home #mainHeaderSubTitle {
    @apply block text-4xl font-light text-shadow-md;
  }
}

@media (min-width: 768px) {
  #mainHeaderSection {
    padding-right: calc(50% - 377px);
    padding-left: calc(50% - 365px);
  }
}

input[name="top-menu-checkbox"] {
  @apply icon-dots-circle-horizontal;
}
input[name="top-menu-checkbox"]:checked {
  @apply icon-dots-circle-horizontal-outline;
}

input[name="top-menu-checkbox"]:checked + ul.nav {
  display: block;
}

.nav-item.nav-item-active {
  @apply text-gray-500;
}

.nav-item {
  @apply text-black;
}

.pattern-topography {
  background-image: url(/img/patterns/topography.svg);
}

.icon-dots-circle-horizontal {
  background-image: url(/img/icons/dots-circle-horizontal.svg);
}

.icon-dots-circle-horizontal-outline {
  background-image: url(/img/icons/dots-circle-horizontal-outline.svg);
}

.tmpl-post .post-content h3 {
  @apply text-xl font-bold sm:font-semibold mt-3 mb-2;
}

.tmpl-post .post-content h4 {
  @apply text-lg font-bold mt-3 mb-2;
}

.tmpl-post .post-content h5 {
  @apply font-bold mt-2 mb-1;
}

.tmpl-post .post-content h6 {
  @apply font-semibold mt-2 mb-1;
}

.tmpl-post .direct-link {
  @apply text-gray-500;
}

.tmpl-post .direct-link:hover {
  @apply text-black underline;
}

.underline-dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
